openapi: 3.2.0
info:
  title: Jnana Therapeutics Content Users API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.jnanatx.com.
  description: The read-only content surface Jnana Therapeutics exposes at https://www.jnanatx.com/wp-json.
  contact:
    name: Jnana Therapeutics
    url: https://www.jnanatx.com/contact-us/
    email: info@jnanatx.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.jnanatx.com/wp-json/ (202 routes across 11 namespaces) and verified against live anonymous responses on 2026-08-23. Every query parameter below appears verbatim in that route index `args` block for the endpoint it is attached to, and every collection count in a description was read from the `X-WP-Total` response header on that date. Jnana Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, responses carry `x-robots-tag: noindex` and `cache-control: max-age=600, must-revalidate`, and an OPTIONS preflight on /wp/v2/posts returns `allow: GET` — confirming the surface is read-only to an anonymous caller. Nothing here was obtained with credentials.'
servers:
- url: https://www.jnanatx.com/wp-json
  description: Production content API
tags:
- name: Users
  description: Author collection (4 records). Anonymously readable, exposing WordPress author display names and slugs. Flagged in conventions/ as an exposure worth reviewing, not a documented product.
paths:
  /wp/v2/users:
    get:
      tags:
      - Users
      operationId: listUsers
      summary: List authors
      description: 4 author records at harvest time. Anonymously readable and returns WordPress account display names and slugs. Recorded because it is served, not because it is documented — see conventions/jnana-therapeutics-conventions.yml.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - name: has_published_posts
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: A page of author records.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/users/{id}:
    get:
      tags:
      - Users
      operationId: getUser
      summary: Get a single author
      parameters:
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The author record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Slug:
      name: slug
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    PerPage:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Search:
      name: search
      in: query
      required: false
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    Context:
      name: context
      in: query
      required: false
      description: Scope under which the request is made; determines fields present in the response. `edit` requires authentication.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 — see errors/jnana-therapeutics-problem-types.yml.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        url:
          type: string
        description:
          type: string
        link:
          type: string
          format: uri
        slug:
          type: string
        avatar_urls:
          type: object
        _links:
          type: object
  responses:
    NotFound:
      description: No route matched, or the object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            noRoute:
              value:
                code: rest_no_route
                message: No route was found matching the URL and request method.
                data:
                  status: 404
    InvalidParam:
      description: A supplied parameter failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidParam:
              value:
                code: rest_invalid_param
                message: 'Invalid parameter(s): per_page'
                data:
                  status: 400
  headers:
    XWPTotal:
      description: Total number of items in the collection.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of pages available at the current per_page.
      schema:
        type: integer
