openapi: 3.2.0
info:
  title: Jnana Therapeutics Content Oembed API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.jnanatx.com.
  description: The read-only content surface Jnana Therapeutics exposes at https://www.jnanatx.com/wp-json.
  contact:
    name: Jnana Therapeutics
    url: https://www.jnanatx.com/contact-us/
    email: info@jnanatx.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.jnanatx.com/wp-json/ (202 routes across 11 namespaces) and verified against live anonymous responses on 2026-08-23. Every query parameter below appears verbatim in that route index `args` block for the endpoint it is attached to, and every collection count in a description was read from the `X-WP-Total` response header on that date. Jnana Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, responses carry `x-robots-tag: noindex` and `cache-control: max-age=600, must-revalidate`, and an OPTIONS preflight on /wp/v2/posts returns `allow: GET` — confirming the surface is read-only to an anonymous caller. Nothing here was obtained with credentials.'
servers:
- url: https://www.jnanatx.com/wp-json
  description: Production content API
tags:
- name: o Embed
  description: oEmbed 1.0 provider endpoint for www.jnanatx.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - o Embed
      operationId: getOembed
      summary: Get an oEmbed 1.0 response for a site URL
      description: oEmbed 1.0 rich provider response for any www.jnanatx.com URL.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: The oEmbed document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oembed'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Oembed:
      type: object
      description: oEmbed 1.0 rich response.
      properties:
        version:
          type: string
          const: '1.0'
        provider_name:
          type: string
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 — see errors/jnana-therapeutics-problem-types.yml.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
  responses:
    NotFound:
      description: No route matched, or the object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            noRoute:
              value:
                code: rest_no_route
                message: No route was found matching the URL and request method.
                data:
                  status: 404
