openapi: 3.2.0
info:
  title: Jnana Therapeutics Content Theme API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.jnanatx.com.
  description: The read-only content surface Jnana Therapeutics exposes at https://www.jnanatx.com/wp-json. Jnana Therapeutics is a Boston-based biotechnology company that built the RAPID (Reactive Affinity Probe Interaction Discovery) next-generation chemoproteomics platform for small-molecule drug discovery, and has been a direct subsidiary of Otsuka America, Inc. since Otsuka Pharmaceutical completed its acquisition of the company on 23 September 2024. It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2`, `oembed/1.0`, `genesis/v1` and `yoast/v1` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-23. Write operations and the administrative surface — `/wp/v2/settings`, `/wp/v2/menu-items`, `/wp/v2/block-types`, `/wp/v2/templates`, `/wp/v2/navigation`, the `wp-abilities/v1`, `wp-site-health/v1`, `wp-block-editor/v1`, `contact-form-7/v1`, `wpe/cache-plugin/v1` and `wpe_sign_on_plugin/v1` namespaces, and `/oembed/1.0/proxy` — all answered 401/403/404 anonymously and are deliberately excluded. See x-api-evangelist-provenance.
  contact:
    name: Jnana Therapeutics
    url: https://www.jnanatx.com/contact-us/
    email: info@jnanatx.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.jnanatx.com/wp-json/ (202 routes across 11 namespaces) and verified against live anonymous responses on 2026-08-23. Every query parameter below appears verbatim in that route index `args` block for the endpoint it is attached to, and every collection count in a description was read from the `X-WP-Total` response header on that date. Jnana Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, responses carry `x-robots-tag: noindex` and `cache-control: max-age=600, must-revalidate`, and an OPTIONS preflight on /wp/v2/posts returns `allow: GET` — confirming the surface is read-only to an anonymous caller. Nothing here was obtained with credentials.'
servers:
- url: https://www.jnanatx.com/wp-json
  description: Production content API
tags:
- name: theme
  description: Genesis theme reading-settings and breadcrumb documents.
paths:
  /genesis/v1/reading-settings:
    get:
      tags:
      - theme
      operationId: getGenesisReadingSettings
      summary: Get the Genesis reading settings
      description: Front-page configuration — show_on_front, page_on_front, page_for_posts.
      responses:
        '200':
          description: The reading settings document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  show_on_front:
                    type: string
                  page_on_front:
                    type: integer
                  page_for_posts:
                    type: integer
  /genesis/v1/breadcrumbs:
    get:
      tags:
      - theme
      operationId: getGenesisBreadcrumbs
      summary: Get the Genesis breadcrumb trail
      description: Returns an empty array on this deployment.
      responses:
        '200':
          description: The breadcrumb array.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
